@{
    ViewBag.Title = "Página de Perfil";
}

<script>
    var checkAlert = @ViewBag.estadoConsulta;
    var mensajeError = @ViewBag.mensajeError;
</script>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>Usuarios</span>
                    </li>
                    <li class="active">
                        <span>Perfil </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Perfil
            </h2>
            <small>Muestra la información del perfil del usuario</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-4">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="pull-right text-right">
                        <div class="btn-group">
                            <i class="fa fa-facebook btn btn-default btn-xs"></i>
                            <i class="fa fa-twitter btn btn-default btn-xs"></i>
                            <i class="fa fa-linkedin btn btn-default btn-xs"></i>
                        </div>
                    </div>
                    <img alt="logo" class="img-circle m-b m-t-md" src="~/Content/Images/profile.jpg">
                    <h3><a href="">@ViewBag.nombreUsuario @ViewBag.apellidosUsuario</a></h3>
                    <div class="text-muted font-bold m-b-xs">Sevilla</div>
                    <p>
                        Esto podría ser una descripción del usuario, puesto de trabajo, empresa, rol...
                    </p>
                </div>
                <div class="border-right border-left">
                    <section id="map">
                        <div id="map1" style="height: 200px"></div>
                    </section>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>Empresa</dt>
                        <dd>@ViewBag.empresaUsuario</dd>
                        <dt>Puesto de trabajo</dt>
                        <dd>Support analyst</dd>
                        <dt>Correo electrónico</dt>
                        <dd>@ViewBag.emailUsuario</dd>
                        <dt>Teléfono</dt>
                        <dd>@ViewBag.telefonoUsuario</dd>
                    </dl>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Projects: </span> <strong>200</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Messages: </span> <strong>300</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>Views: </span> <strong>400</strong></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-8">
            <div class="hpanel">
                <div class="hpanel">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Información personal</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Proyectos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body no-padding">
                                <div class="panel-body">
                                    <form role="form" id="form">
                                        <div class="form-group"><label>Nombre</label> <input type="text" class="form-control" name="Nombre" value="@ViewBag.nombreUsuario" required></div>
                                        <div class="form-group"><label>Apellidos</label> <input type="text" class="form-control" name="Apellidos" value="@ViewBag.apellidosUsuario" required></div>
                                        <div class="form-group"><label>Email</label> <input type="email" placeholder="Introduzca su email" class="form-control" value="@ViewBag.emailUsuario" readonly></div>
                                        <div class="form-group"><label>Telefono</label> <input type="text" placeholder="Introduzca su teléfono" class="form-control" value="@ViewBag.telefonoUsuario" name="Telefono"></div>
                                        <div class="form-group"><label>Empresa</label> <input type="text" placeholder="Nombre de la empresa" class="form-control" value="@ViewBag.empresaUsuario" name="Empresa"></div>
                                        <div class="form-group"><label>Contraseña</label> <input type="password" placeholder="Contraseña" class="form-control" name="Password"></div>
                                        <div class="form-group"><label>Repita su contraseña</label> <input type="password" placeholder="Repita su contraseña" class="form-control" name="Password2"></div>
                                        <div>
                                            <button class="btn btn-sm btn-primary m-t-n-xs" type="submit"><strong>Guardar</strong></button>
                                        </div>
                                    </form>
                                 </div>
                             </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <strong>Información personal del usuario</strong>
                                <p>
                                    Muestra los proyectos para los que este usuario tiene permisos de monitorización.
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Proyecto </th>
                                                <th>Descripción </th>
                                                <th>Permisos de Lectura </th>
                                                <th>Permisos de Escritura </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CFE</td>
                                                <td>Comisión Federal de Electricidad (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success" >
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>PAM</td>
                                                <td>Petroamazonas (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CNFL</td>
                                                <td>Comisión Federal de Electricidad (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>ENSA</td>
                                                <td>Comisión Federal de Electricidad (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>EDEN</td>
                                                <td>Comisión Federal de Electricidad (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Elektra</td>
                                                <td>Comisión Federal de Electricidad (México)</td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2" checked="">
                                                        <label></label>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="checkbox checkbox-success">
                                                        <input type="checkbox" id="singleCheckbox2" value="option2">
                                                        <label class="center"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body float-e-margins" style="float:right;">
                <button class="btn btn-success AlertaOk" type="button"><i class="fa fa-upload"></i> <span class="bold">Guardar</span></button>
                <button class="btn btn-info " type="button"><i class="fa fa-paste"></i> Actualizar</button>
                <button class="btn btn-danger" type="button"><i class="fa fa-trash-o"></i> <span class="bold">Cancelar</span></button>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/sweetAlert/css")
    @Styles.Render("~/bundles/toastr/css")
}

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>

@section Scripts {
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/toastr/js")
    @Scripts.Render("~/bundles/validation/js")

    <script type="text/javascript">

        // When the window has finished loading google map
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Options for Google map
            // More info see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions1 = {
                zoom: 14,
                center: new google.maps.LatLng(40.6700, -73.9400),
                // Style for Google Maps
                styles: [{ "featureType": "landscape", "stylers": [{ "saturation": -100 }, { "lightness": 65 }, { "visibility": "on" }] }, { "featureType": "poi", "stylers": [{ "saturation": -100 }, { "lightness": 51 }, { "visibility": "simplified" }] }, { "featureType": "road.highway", "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }] }, { "featureType": "road.arterial", "stylers": [{ "saturation": -100 }, { "lightness": 30 }, { "visibility": "on" }] }, { "featureType": "road.local", "stylers": [{ "saturation": -100 }, { "lightness": 40 }, { "visibility": "on" }] }, { "featureType": "transit", "stylers": [{ "saturation": -100 }, { "visibility": "simplified" }] }, { "featureType": "administrative.province", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "labels", "stylers": [{ "visibility": "on" }, { "lightness": -25 }, { "saturation": -100 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "hue": "#ffff00" }, { "lightness": -25 }, { "saturation": -97 }] }]
            };

            // Get all html elements for map
            var mapElement1 = document.getElementById('map1');

            // Create the Google Map using elements
            var map1 = new google.maps.Map(mapElement1, mapOptions1);
        }

        $(function () {

            $('.AlertaOk').click(function () {
                swal({
                    title: "¡CORRECTO!",
                    text: "La información se ha guardado satisfactoriamente",
                    type: "success"
                });
            });
        });

        $("#form").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6
                },
                Nombre: {
                    required: true,
                    minlength: 3
                },
                Apellidos: {
                    required: true,
                    minlength: 3
                },
                Telefono: {
                    required: true,
                    number: true
                },
                Empresa: {
                    required: false,
                    minlength: 3
                },
                Password: {
                    required: true,
                    minlength: 6,
                    maxlength: 10
                },
                Password2: {
                    required: true,
                    minlength: 6,
                    maxlength: 10
                }
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

        // Toastr options
        toastr.options = {
            "debug": false,
            "newestOnTop": false,
            "positionClass": "toast-top-center",
            "closeButton": true,
            "debug": false,
            "toastClass": "animated fadeInDown",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear"
        };

        $('.homerDemo4').click(alerta());

        function alerta() {
            toastr.error('ERROR - Se ha producido un error al obtener la información de la base de datos.');
        };

        window.load(function(){
            if (!checkAlert){
                alerta();
            }
        });
    </script>
}