@{
    ViewBag.Title = "Proyectos";
}

<div class="p-lg">
    <div class="content animate-panel" data-child="hpanel">
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "CFE - Comisión Federal de Eléctrica (México)" })">CFE - Comisión Federal de Eléctrica (México)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-xs-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">2</p>
                            </div>
                            <div class="col-xs-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">4</p>
                            </div>
                            <div class="col-xs-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">2</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        ADMS V3
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "EMCALI - Empresas Municipales de Cali (Colombia)" })">EMCALI - Empresas Municipales de Cali (Colombia)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">3</p>
                                </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">6</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-desktop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">3</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        OASyS 7.5 + DMS V2
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "PAM - Petroamazonas (Ecuador)" })">PAM - Petroamazonas (Ecuador)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">4</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">8</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        ADMS V3.2
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "ENSA - Elektra (Panamá)" })">ENSA - Elektra (Panamá)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">2</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">3</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">11</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        OASyS 7.5 Columbia + DMS V2
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "EDEN - Edensa (Argentina)" })">EDEN - Edensa (Argentina)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">4</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">8</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        OASyS 7.6 ELK SP5 + ADMS V3.2
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "CNFL - Compañía Nacional de Fuerza y Luz (Costa Rica)" })">CNFL - Compañía Nacional de Fuerza y Luz (Costa Rica)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">4</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">8</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        ADMS V3.2
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <a class="text-info" href="@Url.Action("DetallesProyecto", "Proyecto", new { nombreProyecto= "MEER - Ministerio de Electricidad y Energía Renovable (Ecuador)" })">MEER - Ministerio de Electricidad y Energía Renovable (Ecuador)</a>
                    </div>
                    <div class="panel-body">
                        <div class="text-center">
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Sistemas</p>
                                <div class="m-xs">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">4</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Servidores</p>
                                <div class="m-xs">
                                    <i class="fa fa-hdd-o fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">8</p>
                            </div>
                            <div class="col-lg-4 ">
                                <p class="font-extra-bold">Workstations</p>
                                <div class="m-xs">
                                    <i class="fa fa-laptop fa-5x"></i>
                                </div>
                                <p class="font-extra-bold label label-default">6</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        ADMS V3.2
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>
